:root{
  --turquoise:#57c4be ;
  --grey: #343b3e;
  --dark_turquoise: #21474d;
  --baby_blue: #aaf5f1;
  --gold: #978f1c;
  --green: #278053;
  --light_grey: #5c676b;
}

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  
}
.App{
  background-color: var(--grey);
  padding: 0 30px;
}
.header{
  flex: 1 ;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--turquoise);
  padding: 20px 0;
  font-variant: small-caps;
  border-radius: 0 0 20px 20px; 
}
h1{
  padding: 10px;
  color: #343b3e;
}
li{
  list-style: none;
}

.headbutt{
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}
.table-container{
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;

}
table{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 4px solid var(--turquoise);
  border-radius: 20px;  
  min-width: 80%;
  color: var(--dark_turquoise);
  background-color: var(--baby_blue);
  overflow-x:auto;
  row-gap: 0;
}
tr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
tbody{
  align-items: center;
  
}
#date{

justify-items: space-between;
}
.flex3{
  flex: 3;
}
.flex2{
  flex: 2;
  justify-content: flex-end;  
}
.flex1{
  flex: 1;
  width: 100px;
}
th{
  height: 50px;
  align-content: space-between;
  justify-content: center;

}
th, td {
  padding: 5px 10px;
}
tbody:nth-child(even) {
  background-color: var(--turquoise);
}
a{
  text-decoration: none;
  color: var(--grey);
  font-weight: bold;
  cursor: pointer;

}
a:hover{
  color: var(--green);
  text-decoration: none;
}
a:visited{
  color: var(--green);
}
.add-butt{
  width: max-content;
  border-radius: 10px;
  border: 2px solid var(--turquoise);
  background-color: var(--baby_blue);
  font-size: large;
  color: var(--dark_turquoise);
}
.add-butt:hover{
  width: max-content;
  border-radius: 10px;
  border: 2px solid var(--green);
  color: var(--green);
  background-color: var(--baby_blue);
  color: var(--green);
}
form{
  display: flex;
  justify-content: center;

}
input{
  border-radius: 10px;
  padding: 5px;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 10px;
  border: 2px solid var(--turquoise);
  width: 250px;
  background-color: var(--baby_blue);
  align-content: center;
  justify-content: center;
}
footer{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  background-color: #8E9199;
  height: 80px;
  color: #343b3e;
  font-variant: small-caps;
}
.taskDone{
  text-decoration: line-through;
  color: var(--light_grey);
}