*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrap{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(252, 228, 238);
  margin: 0;
}
.header{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(255, 203, 211);
  width: 100%;
  padding: 20px 0;
}
h1{
  padding: 10px;
}
ul{
  align-content: flex-end;
  justify-content: flex-end;
  list-style: none;
  padding: 20px;
  width: auto;
}
.content{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 30px;
  height: 100%;
}

.todotable{
  padding: 30px 50px;
  align-content: center;
  justify-content: center;
  flex: 2;
}
.buttons{
  float: right;
}
table{
  align-items: left;
  align-content: left;
  padding: 10px;
  border: 4px solid pink;
  border-radius: 20px;  
  min-width: 100%;
  color: rgb(185, 86, 119);
}
th{
  border-bottom: 1px solid palevioletred;
}
td{
  padding: 5px;
}
a{
  text-decoration: none;
  color: brown;
}
a:hover{
  color: rgba(0, 0, 0, 0.795);
}
#add-butt{
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid palevioletred;
  background-color: rgb(255, 196, 196);
}
#add-butt:hover{
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgb(165, 79, 107);
  background-color: rgb(207, 123, 135);
}
.submit{
  border-radius: 10px;
  padding: 5px;
  border: 2px solid palevioletred;
  background-color: rgb(255, 196, 196);
  color: rgb(16, 16, 17);
  font-weight: 300;
}
.submit:hover{
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgb(165, 79, 107);
  background-color: rgb(207, 123, 135);
  color: blanchedalmond;
}
input{
  border-radius: 10px;
  padding: 5px;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 10px;
  border: 2px solid palevioletred;
}
footer{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(156, 156, 156);
  height: 80px;

  
}