*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrap{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(252, 228, 238);
  margin: 0;
}
.header{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: aquamarine;
  width: 100%;
  padding: 20px 0;
}
.content{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
ul{
  align-content: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 20px;
  width: 1fr;
}
.todotable{
  padding: 30px 50px;
  align-content: center;
  justify-content: center;
  flex: 2;
}
.rightside{
  flex: 3;
  padding: 20px;
}
footer{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(156, 156, 156);
  height: 80px;
}